.resources
{
    
    padding-top: 60px;
}
.resources h2
{
    padding: 50px 30px;
    color: #002140;
    font-family: serif;
    font-weight: 600;
    text-align: justify;
}
.resources p{
    color: #002140;
    font-weight: 300;
    text-align:left;
    
}
.welcome {
    color: #002140;
}
#pseudo{
    background-color: #ffb506
}